[submodule "guest/hcMiniKernel"]
	path = guest/hcMiniKernel
	url = git@github.com:cylindrical2002/hcMiniKernel.git
[submodule "guest/guest/nimbos"]
	path = guest/guest/nimbos
	url = git@github.com:equation314/nimbos.git
